<div class="skill py-4 bg-light">
  <h2 class="text-center section-heading">
    <i class="fa fa-laptop"></i> Mes compétences
  </h2>
  <div class="container-fluid px-4 px-md-5 my-5">
    <div class="row gx-4 gx-md-2 shadow">
      <div class="col-md-9 hard-skills rounded-start">
        <div class="m-0 m-md-5">
          <h4 class="text-center text-white">Hard skills</h4>
          <div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 py-4">
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/Angular_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">Angular</h5>
                </div>
              </div>
            </div>
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/Bootstrap_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title">Bootstrap</h5>
                </div>
              </div>
            </div>
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/Cpp_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">C++</h5>
                </div>
              </div>
            </div>
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/CSS_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">CSS</h5>
                </div>
              </div>
            </div>
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/Firebase_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">Firebase</h5>
                </div>
              </div>
            </div>
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/Git_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">Git</h5>
                </div>
              </div>
            </div>
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/HTML_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">HTML</h5>
                </div>
              </div>
            </div>
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/Java_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">Java</h5>
                </div>
              </div>
            </div>
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/JS_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">JavaScript</h5>
                </div>
              </div>
            </div>
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/MySQL_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">MySQL</h5>
                </div>
              </div>
            </div>
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/NodeJs_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">Node JS</h5>
                </div>
              </div>
            </div>
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/PHP_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">PHP</h5>
                </div>
              </div>
            </div>
            <div class="col p-3">
              <div class="card p-0 h-100 align-items-center">
                <img
                  src="../../../assets/Typescript_logo.png"
                  class="img-fluid w-lg-50 w-md-50 w-75"
                  alt="..."
                />
                <div class="card-body p-0">
                  <h5 class="card-title text-center">Typescript</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 soft-skills px-2 rounded-end py-5">
        <h4 class="text-center">Soft skills</h4>
        <div class="row row-cols-1 px-0 px-lg-4 py-4">
          <div class="col p-3">
            <div class="card p-0 h-100 align-items-center">
              <img
                src="../../../assets/Team-work.png"
                class="img-fluid w-lg-50 w-md-50 w-75"
                alt="..."
              />
              <div class="card-body p-0">
                <h5 class="card-title text-center">Travail d'équipe</h5>
              </div>
            </div>
          </div>
          <div class="col p-3">
            <div class="card p-0 h-100 align-items-center">
              <img
                src="../../../assets/motivation.png"
                class="img-fluid w-lg-50 w-md-50 w-75"
                alt="..."
              />
              <div class="card-body p-0">
                <h5 class="card-title text-center">Motivée</h5>
              </div>
            </div>
          </div>
          <div class="col p-3">
            <div class="card p-0 h-100 align-items-center">
              <img
                src="../../../assets/Resolution-problems.png"
                class="img-fluid w-lg-50 w-md-50 w-75"
                alt="..."
              />
              <div class="card-body p-0">
                <h5 class="card-title text-center">
                  Capacité de résolution des problèmes
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
