<h2 class="text-center section-heading">Mes compétences</h2>
<div class="skill">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row row-cols-1 row-cols-md-6 py-4">
      <div class="col p-3">
        <div class="card p-0 h-100">
          <img
            src="../../../assets/Angular_logo.png"
            class="card-img-top mt-3 px-5"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title text-center">Angular</h5>
          </div>
        </div>
      </div>
      <div class="col p-3">
        <div class="card p-0 h-100">
          <img
            src="../../../assets/Bootstrap_logo.png"
            class="card-img-top mt-3 px-5"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title text-center">Bootstrap</h5>
          </div>
        </div>
      </div>
      <div class="col p-3">
        <div class="card p-0 h-100">
          <img
            src="../../../assets/Cpp_logo.png"
            class="card-img-top mt-3 px-5"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title text-center">C++</h5>
          </div>
        </div>
      </div>
      <div class="col p-3">
        <div class="card p-0 h-100">
          <img
            src="../../../assets/CSS_logo.png"
            class="card-img-top mt-3 px-5"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title text-center">CSS</h5>
          </div>
        </div>
      </div>
      <div class="col p-3">
        <div class="card p-0 h-100">
          <img
            src="../../../assets/Firebase_logo.png"
            class="card-img-top mt-3 px-5"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title text-center">Firebase</h5>
          </div>
        </div>
      </div>
      <div class="col p-3">
        <div class="card p-0 h-100">
          <img
            src="../../../assets/Git_logo.png"
            class="card-img-top mt-3 px-5"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title text-center">Git</h5>
          </div>
        </div>
      </div>
      <div class="col p-3">
        <div class="card p-0 h-100">
          <img
            src="../../../assets/HTML_logo.png"
            class="card-img-top mt-3 px-5"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title text-center">HTML</h5>
          </div>
        </div>
      </div>
      <div class="col p-3">
        <div class="card p-0 h-100">
          <img
            src="../../../assets/MySQL_logo.png"
            class="card-img-top mt-3 px-5"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title text-center">MySQL</h5>
          </div>
        </div>
      </div>
      <div class="col p-3">
        <div class="card p-0 h-100">
          <img
            src="../../../assets/Java_logo.png"
            class="card-img-top mt-3 px-5"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title text-center">Java</h5>
          </div>
        </div>
      </div>
      <div class="col p-3">
        <div class="card p-0 h-100">
          <img
            src="../../../assets/JS_logo.png"
            class="card-img-top mt-3 px-5"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title text-center">JavaScript</h5>
          </div>
        </div>
      </div>
      <div class="col p-3">
        <div class="card p-0 h-100">
          <img
            src="../../../assets/PHP_logo.png"
            class="card-img-top mt-3 px-5"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title text-center">PHP</h5>
          </div>
        </div>
      </div>
      <div class="col p-3">
        <div class="card p-0 h-100">
          <img
            src="../../../assets/Typescript_logo.png"
            class="card-img-top mt-3 px-5"
            alt="..."
          />
          <div class="card-body p-0">
            <h5 class="card-title text-center">Typescript</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
