<div class="py-5 bg-light">
  <h2 class="section-heading text-center mb-5">
    <i class="fa fa-envelope"></i> Contact
  </h2>
  <div class="container px-4 px-md-5 my-5">
    <div class="row gx-4 gx-md-2 shadow rounded">
      <div class="col-md-5 contact rounded-start">
        <div class="m-0 m-md-5">
          <h4 class="mb-5">Informations de contact</h4>
          <p>
            Pour me contacter, merci de bien vouloir remplir le formulaire
            ci-aprés ou m'envoyer un mail sur mon adresse email ci-dessous.
          </p>
          <h5 class="mt-5 mb-3">Email</h5>
          <p>nassima.ziani1996@gmail.com</p>
        </div>
      </div>

      <div class="col-md-7 p-5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="mb-3">
              <label for="name" class="form-label"
                >Nom<span class="my-text"> *</span></label
              >
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                [ngClass]="{
                  'is-valid':
                    form.controls['name'].valid &&
                    form.controls['name']?.touched,
                  'is-invalid':
                    form.controls['name'].invalid &&
                    form.controls['name']?.touched
                }"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label"
                >Email<span class="my-text"> *</span></label
              >
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                [ngClass]="{
                  'is-valid':
                    form.controls['email'].valid &&
                    form.controls['email']?.touched,
                  'is-invalid':
                    form.controls['email'].invalid &&
                    form.controls['email']?.touched
                }"
              />
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="mb-3">
              <label for="subject" class="form-label"
                >Objet<span class="my-text"> *</span></label
              >
              <input
                type="text"
                class="form-control"
                id="subject"
                formControlName="subject"
                [ngClass]="{
                  'is-valid':
                    form.controls['subject'].valid &&
                    form.controls['subject']?.touched,
                  'is-invalid':
                    form.controls['subject'].invalid &&
                    form.controls['subject']?.touched
                }"
              />
            </div>

            <div class="mb-3">
              <label for="message" class="form-label"
                >Message<span class="my-text"> *</span></label
              >
              <textarea
                class="form-control"
                id="message"
                rows="5"
                formControlName="message"
                [ngClass]="{
                  'is-valid':
                    form.controls['message'].valid &&
                    form.controls['message']?.touched,
                  'is-invalid':
                    form.controls['message'].invalid &&
                    form.controls['message']?.touched
                }"
              ></textarea>
            </div>
            <button
              class="btn my-btn pull-right"
              type="submit"
              data-bs-toggle="modal"
              data-bs-target="#sendMailModal"
              [disabled]="form.invalid"
            >
              Envoyer <i class="fa fa-paper-plane"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sendMailModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendMailModalLabel">Mail envoyé</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Merci de m'avoir contacter. Votre email est bien envoyé.
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn my-btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
