<h2 class="section-heading text-center">
  <i class="fa fa-user"></i> A propos de moi
</h2>
<div class="container px-4 px-lg-5 my-5">
  <div class="row gx-4 gx-lg-5 align-items-center">
    <div class="col-md-5">
      <img
        class="card-img-top mb-5 mb-md-0 rounded shadow-lg shadow-2-strong img-fluid"
        src="../../../assets/Nassima about me.jpeg"
        alt="About me"
      />
    </div>
    <div class="col-md-7">
      <h4 class="fw-bolder mb-4">Nassima ZIANI</h4>
      <p>
        Je suis une développeuse Full-Stack basée en Île-de-France. Je suis
        diplômée en Services et Systèmes pour l'Internet des Objets (SSIO) à
        l'université de Gustave Eiffel. Je suis également diplomée en Logiciels
        Sûrs à l'université de Paris-Est Créteil (UPEC). Je suis très passionnée
        par le développement web. Je développe à la fois en Front et en Back. Je
        travaille actuellement en tant que développeuse Full-Stack dans une
        start-up.
      </p>
      <div>
        <div class="row">
          <div class="col">
            <p><span class="fw-bold"> Age : </span><span>26 ans</span></p>
          </div>
          <div class="col">
            <p>
              <span class="fw-bold"> Région : </span><span>Île-de-France</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p></p>
            <p>
              <span class="fw-bold"> Télephone : </span
              ><span>+33 6 34 78 78 60</span>
            </p>
          </div>
          <div class="col">
            <p></p>
            <p>
              <span class="fw-bold"> Mail : </span
              ><span>nassima.ziani1996@gmail.com</span>
            </p>
          </div>
        </div>
      </div>
      <button class="btn my-btn rounded mt-3" (click)="openCV()">
        <i class="fa fa-download"></i> Mon CV
      </button>
    </div>
  </div>
</div>
