<nav class="navbar navbar-expand-lg navbar-dark my-bg" id="headerNav">
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none" href="#">
      <img src="../../../assets/Nassima_logo.png" height="50" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Compétences</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link p-0" href="#">
            <img src="../../../assets/Nassima_logo.png" height="50" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Formation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
