/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #5c2e40;
  font-size: medium;
}

.nav-link {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  opacity: 0.7;
}

.active {
  color: white !important;
  opacity: 1;
}

.nav-item > a:hover {
  opacity: 1;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 991px) {
  #navbarNavDropdown {
    background-color: #5c2e40;
  }
}
/* #34b578 */
