<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-scroll" #navbar>
    <div class="container-fluid">
      <a class="navbar-brand d-block d-lg-none" href="#">
        <img src="../../../assets/Nassima ZIANI_logo2.png" height="50" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto d-flex align-items-center">
          <li class="nav-item">
            <a
              class="nav-link mx-3"
              routerLink="/"
              fragment="home"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <i class="fa fa-home"></i> Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3" routerLink="/" fragment="about">
              <i class="fa fa-user"></i> A propos</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3" routerLink="/" fragment="skills"
              >Compétences</a
            >
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link p-0 mx-5" href="">
              <img src="../../../assets/Nassima ZIANI_logo2.png" height="50" />
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3" href="#formations">
              <i class="fa fa-graduation-cap"></i> Formations</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3" href="#experiences">
              <i class="fa fa-briefcase"></i> Experiences</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3" href="#contact">
              <i class="fa fa-envelope"></i> Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div>
  <section class="pb-3" id="home">
    <app-home></app-home>
  </section>
  <section class="py-3" id="about"><app-about></app-about></section>

  <section class="py-3" id="skills"><app-skill></app-skill></section>

  <section class="py-3" id="formations">
    <app-formation></app-formation>
  </section>

  <section class="py-3" id="experiences">
    <app-experience></app-experience>
  </section>

  <section class="py-5" id="contact"><app-contact></app-contact></section>
</div>
<app-footer></app-footer>
