<h2 class="section-heading text-center mb-5">
  <i class="fa fa-graduation-cap"></i> Formations
</h2>
<div class="container-fluid">
  <ul class="formation">
    <li>
      <div
        class="formation-icon d-flex align-items-center justify-content-center"
      >
        <i class="fa fa-university fa-3x"></i>
      </div>
      <div class="formation-panel">
        <div>
          <h5 class="fw-bold">2021-2022</h5>
          <h4>Master 2 Systèmes et Services pour l'Internet des Objets</h4>
        </div>
        <div>
          <p class="text">
            Université Gustave Eiffel
            <span class="text-muted"> - Champs-sur-Marne, France</span>
          </p>
        </div>
      </div>
    </li>
    <li class="formation-inverted">
      <div
        class="formation-icon d-flex align-items-center justify-content-center"
      >
        <i class="fa fa-university fa-3x"></i>
      </div>
      <div class="formation-panel">
        <div>
          <h5 class="fw-bold">2019-2021</h5>
          <h4>Master 1 & 2 Logiciels Sûrs</h4>
        </div>
        <div>
          <p class="text">
            Université Paris-Est Créteil (UPEC)
            <span class="text-muted"> - Créteil, France</span>
          </p>
        </div>
      </div>
    </li>
    <li>
      <div
        class="formation-icon d-flex align-items-center justify-content-center"
      >
        <i class="fa fa-university fa-3x"></i>
      </div>
      <div class="formation-panel">
        <div>
          <h5 class="fw-bold">2018-2019</h5>
          <h4>Master 1 Administration et Sécurité des réseaux</h4>
        </div>
        <div>
          <p class="text">
            Université Abderahmane Mira
            <span class="text-muted"> - Béjaia - Algérie</span>
          </p>
        </div>
      </div>
    </li>
    <li class="formation-inverted">
      <div
        class="formation-icon d-flex align-items-center justify-content-center"
      >
        <i class="fa fa-university fa-3x"></i>
      </div>
      <div class="formation-panel">
        <div>
          <h5 class="fw-bold">2015-2018</h5>
          <h4>Licence en Informatique</h4>
        </div>
        <div>
          <p class="text">
            Université Abderahmane Mira
            <span class="text-muted"> - Béjaia - Algérie</span>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
