<div class="container-fluid masthead">
  <div class="row">
    <div
      class="col-lg-7 d-flex flex-column justify-content-center pt-lg-0 order-2 order-lg-1 px-3 px-md-5 pb-5 pt-md-5 pb-md-5 pb-lg-10 pt-lg-10"
    >
      <div class="masthead-subheading">Salut ! Je suis</div>
      <div class="masthead-heading mb-5 mt-3">Nassima ZIANI</div>
      <div class="more-info">
        Pour en savoir plus sur moi, veuillez défiler vers le bas.
      </div>
    </div>
    <div
      class="col-lg-5 order-1 order-lg-2 text-center px-3 px-md-5 pb-0 pt-md-5 pb-md-0 pb-lg-10 pt-lg-10"
    >
      <img
        class="img-fluid"
        src="../../../assets/Nassima profile picture.png"
        alt="Profile picture"
        width="300"
        height="300"
      />
    </div>
  </div>
</div>
