<div class="container-fluid masthead">
  <div class="d-flex justify-content-between align-items-center px-6 py-10">
    <div class="">
      <div class="masthead-subheading">Salut ! Je suis</div>
      <div class="masthead-heading mb-5 mt-3">Nassima ZIANI</div>
      <div class="more-info">
        Pour en savoir plus sur moi, veuillez défiler vers le bas.
      </div>
    </div>
    <div class="image-container">
      <img
        class="img-fluid"
        src="../../../assets/Nassima profile picture.png"
        alt="Profile picture"
        width="300"
        height="300"
      />
    </div>
  </div>
</div>
