header.masthead {
  color: #fff;
  background: linear-gradient(180deg, #b53471 0%, #34b578 100%);
  background-position: center center;
  background-size: cover;
}
header.masthead {
  padding-top: 15rem;
  padding-bottom: 14.5rem;
  color: #fff;
  background: linear-gradient(180deg, #b53471 0%, #34b578 100%);
  background-position: center center;
  background-size: cover;
}

header.masthead .masthead-subheading {
  font-size: 1.25rem;
  line-height: 2.25rem;
}
header.masthead .masthead-heading {
  font-style: italic;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 4.5rem;
}
