/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Roboto";
  --navbar-scroll: transparent;
  --navbar-scroll-text: white;
  --navbar-scroll-shadow: none;
}

.px-6 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.py-10 {
  padding-top: 10.5rem !important;
  padding-bottom: 10.5rem !important;
}

.section-heading {
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;
}
